{% extends 'base.html' %}

{% block title %}O que Oferecemos{% endblock %}

{% block content %}
    
    <h2 class="oferecemos-Titulo" >Conheça Nossos Insights</h2>
    
    <div class="oferecemos-container2">
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/ggid.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>O Guess-Game - ID fornece uma visão clara da vantagem relativa entre os dois times, auxiliando suas
            previsões e decisões. O time com o índice mais alto é considerado o favorito, indicando uma maior
            probabilidade de vitória com base nos critérios avaliados por nós.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/caodds.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Analise a média das odds propostas pelas casas de apostas para os três resultados possíveis (vitória,
            empate e derrota) para obter uma visão completa da expectativa do mercado. Odds mais baixas para um
            resultado geralmente indicam que esse resultado é considerado mais provável.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/ggacert.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Com o Guess-Game Acertos, você pode avaliar a eficácia das previsões passadas e ajustar suas expectativas
            com base na precisão histórica. Uma porcentagem mais alta indica maior acerto nas previsões, enquanto uma
            porcentagem mais baixa revela menor precisão.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/caacert.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>A porcentagem de acertos das casas de apostas revela a precisão das previsões para cada time em resultados
            anteriores. Uma alta taxa de acerto indica que as odds propostas pelas casas apostas foram precisas e uma taxa
            baixa sugere menos precisão.</p>
        </div>
    </div>
    <div class="oferecemos-container3">
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/jogos.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>É essencial considerar o total de jogos de cada equipe, pois partidas adiadas ou canceladas podem distorcer a
            análise. Comparar times com diferentes números de jogos pode comprometer a previsão do resultado.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/pontos.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>A pontuação oferece uma visão abrangente do desempenho e da consistência de cada time no campeonato.
            Compare a diferença de pontos entre as equipes: uma diferença significativa pode indicar uma vantagem clara para o
            time com mais pontos.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/classif.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Utilizar a classificação em conjunto com a pontuação como critério ajuda a avaliar a
            qualidade das equipes e a prever com mais precisão o resultado do confronto. Quanto mais
            alta a posição de um time na tabela, maior a probabilidade de vitória.</p>
        </div>
        
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/ultjgs.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Analisar os resultados dos últimos sete jogos oferece uma visão detalhada do desempenho recente de cada
            time. Sequências de vitórias ou empates indicam boa forma atual, lembre-se de que derrotas
            podem ser causadas por desfalques, como lesões ou suspensões.</p>
        </div>
    </div>
    <div class="oferecemos-container4">
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/gols.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Os gols marcados refletem a capacidade ofensiva de um time; a equipe com mais gols geralmente é
            mais eficiente em criar e converter oportunidades. Os gols sofridos indicam a solidez defensiva: o time
            que sofre poucos gols possui uma defesa robusta e tem mais chances de evitar derrotas. O saldo de gols é
            um bom indicador do equilíbrio entre ataque e defesa.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/vitorias.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>O time com mais vitórias geralmente está em melhor forma e tem maior probabilidade de vencer. Avalie também
            o equilíbrio entre vitórias em casa e fora, o que é crucial para análises de futebol mais precisas. Times com mais
            vitórias em casa podem ter uma vantagem quando jogam em seu estádio, enquanto equipes que vencem fora de casa costumam
            ser mais fortes e consistentes.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/empates.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Empates mostram a estabilidade e a dificuldade das equipes. Times com muitos empates
            são mais difíceis de vencer, mas também podem ter dificuldade em converter empates em vitórias.
            Muitos empates em casa indicam dificuldades para vencer apesar do apoio da torcida,
            enquanto empates fora de casa podem sugerir problemas em vencer como visitante.
        </p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/derrotas.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Times com menos derrotas geralmente demonstram um desempenho mais consistente e estão em melhor
            forma. Muitas derrotas em casa podem indicar dificuldades sob a pressão da torcida, enquanto um
            número elevado de derrotas fora de casa pode refletir a dificuldade do time em se adaptar e obter
            bons resultados em campos adversários.</p>
        </div>
    </div>
    <div class="oferecemos-container5">
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/melhorPior.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Esses dados mostram a capacidade ofensiva e defensiva, o time com o maior número de gols marcados
            tem o melhor ataque e o time que sofreu menos gols a melhor defesa do campeonato. Inversamente, o time
            que marcou menos gols geralmente tem o pior ataque e o que sofreu mais gols tem a pior defesa.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/antProx.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Identificar os times adversários do jogo anterior e do próximo jogo de cada time fornece insights
            valiosos. Frequentemente, os times disputam simultaneamente outros campeonatos mais importantes e 
            tendem a poupar os jogadores devido ao desgaste físico, o que pode afetar as escalações e o resultado
            da partida.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/favorito.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Analisar jogos em que um time favorito perdeu ou empatou pode ajudar a entender a capacidade do
            time para lidar com fatores como desfalques de jogadores por lesões, suspensões por cartões, ceder
            jogadores para seleção nacional ou ter que priorizar jogos de fases decisivas em outras competições
            mais importantes.</p>
        </div>
        <div class="oferecemos-itensCont">
            <img src="/static/imgs/azarao.png" alt="Guess-Game ID" class="imagem-oferecemos">
            <p>Estudar jogos em que um time azarão venceu pode ajudar a entender sua capacidade de superar
            expectativas. Considere os fatores que contribuíram para essas vitórias e compare essas
            informações com o próximo jogo para prever como o time pode se comportar em uma situação
            similar.</p>
        </div>
    </div>
{% endblock %}