{% extends 'base.html' %}

{% block title %}Lista Próximos Jogos{% endblock %}

{% block content %}
    <form id="campeonatoForm" action="{% url 'proximos_jogos_lista' %}" method="GET" class="grid-form">
        <div class="form-group">
            <label class="form-label" for="campeonato">Campeonato:</label>
            <select id="campeonato" name="campeonato">
                <option value="">Todos</option>
                {% for campeonato in campeonatos %}
                    <option value="{{ campeonato }}" {% if campeonato == selected_campeonato %} selected {% endif %}>{{ campeonato }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="form-button">Filtrar</button>
            <pan class="times-info">Conheça nossos insights selecionando um jogo!</span>
        </div>
            
    </form>

    <div class="grid-table">
        {% for jogo in jogos %}
        <a href="{% url 'proximos_jogos_graficos' jogo.game_id %}">
            <div class="grid-column">
                <div class="grid-cell">
                    <span class="date">{{ jogo.data|date:"d/m" }}</span>
                    <span class="team">{{ jogo.time_casa }}</span>
                </div>
                <div class="grid-cell">
                    <span class="time">{{ jogo.hora|time:"H:i" }}</span>
                    <span class="team">{{ jogo.time_visitante }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
